@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255; */
}

body{
  margin: 0;
  padding: 0;
  background-color: black;
}

.bg-g{
  background-color: rgba(255, 255, 255, 0.08);
}

.sb{
  height: calc(100vh - 4rem);
}

/* .hbg{
  background-color: rgba(255, 255, 255, 0.1);
} */

.hbgfix{
  background-color: rgba(255, 255, 255, 0.1);
}

.hbg:hover{
  background-color: rgba(255, 255, 255, 0.1);
}

.gt{
  grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  /* grid-template-rows: repeat(1fr); */
}

.lclamp{
  -webkit-line-clamp: 2;
}

@layer components{
  .rn-btn{
    @apply text-gray-300 w-6 h-6 cursor-pointer;
  }
}